body {
	font-family: "Poppins", sans-serif;
}
.content-title {
	font-size: 32px;
	line-height: 48px;
	color: #162034;
	font-weight: 600;
}
.content-keranjang {
	background-color: #f2f2f2;
	padding: 20px;
	margin-top: 2rem;
	margin-bottom: 8rem;
}

.title-cart {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #162034;
}
.icon-social-media a {
	text-decoration: none;
}
.icon-start {
	margin-top: -9px;
}
.icon-start span {
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	color: #00000099;
}

.title-facility {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #162034;
}
.list-facility li {
	font-weight: 400;
	font-size: 14px;
	line-height: 19.25px;
}
.amount span {
	font-weight: 400;
	font-size: 12px;
	line-height: 14.04px;
	color: #1d7c82;
}
.amount h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 23.4px;
}
.status h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #162034;
}
.status span {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1d7c82;
}
.title-order {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #162034;
}
.labels h5 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1d7c82;
}
.value h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #162034;
}
.title-total-payment {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #162034;
}
.amount {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #162034;
}
.button-cancel-order {
	background-color: #162034;
	padding: 10px 20px;
	gap: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: white;
}
.total-payment h6 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #162034;
}
.total-payment span {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1d7c82;
}
.footer {
	background-color: #162034;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.name-hotel h1 {
	color: white;
	font-family: "Parisienne", cursive;
	font-weight: bolder;
	font-size: 28px;
}

.name-hotel p {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #c7d2e8;
	width: 299px;
}
.name-hotel span {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #c7d2e8;
	width: 299px;
}
.social-media h3 {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #c7d2e8;
}
.navigation h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #c7d2e8;
}

.menu a {
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #c1cbdd;
	padding-top: 8px;
}
.recent-post h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #c7d2e8;
}
.title-contact-us {
	font-weight: 500;
	font-size: 300px;
}
.content-recent-post p {
	color: #d2d9e8;
	width: 157px;
}
.content-recent-post img {
	width: 52px;
	height: 52px;
}
.content-recent-post p {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	line-height: 16.6px;
	text-align: left;
}

.title-contact-us {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #c7d2e8;
}

.contact-us h4 {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #C1CBDD;
	margin-top: 5px;
}
.contact-us h4 {
	width: 269px;
}
nav {
	background-color: #D1D0FB;
	
	
}

.fixed-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	
}


.nav-link {
	margin-left: 30px;
}

.nav-link.active {
	background-color: white;
	border-bottom-left-radius: 42px;
	border-top-left-radius: 42px;
	
}
.nav-link.active svg {
	fill: #162034;
}
.nav-link span {
	color: #162034;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.5px;

}

.welcome {
	background-image: url('/image/hero.jpg');
	width: 701px;
	height: 211px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	position: relative;
	
}
.welcome h1 {
	position: absolute;
	top: 39%;
	left: 20%;
 font-size: 30px;
 font-weight: bold;
 color: white;
}

.custom-gradient {
	background: linear-gradient(to right, rgba(22, 32, 52, 0.7), rgba(22, 32, 52, 0));
	height: 211px;
	border-radius: 30px;
	
}
.identity {
	background-color: #E7E7FF;
	width: 701px;
	height: 293px;
	border-radius: 18px;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 3px;
	margin-top: 50px;
}
.identity h3 {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding-top: 10px;
}
.content-right {
	margin-left: 5rem;
}
.order h1 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 800;
	padding-top: 8px;

}
.order-body a {
	text-decoration: none;
	color: #323153;
}
.order-title a {
	text-decoration: none;
	padding-left: 4rem;
}
.order-title span {
	color: #403DED;
	font-weight: 500;
	font-size: 15px;
	font-family: "Poppins" sans-serif;
}
.order-1 {
	background-color: #D1D0FB;
	width: 304px;
	height: 127px;
	border-radius: 16px;
	padding: 1.5rem 1rem;
}
.order-1 h5 {
	font-size: 15px;
	font-weight: 500;
}
.order-1 h6 {
	font-size: 12px;
	color: rgba(122, 121, 142, 0.4745);
	
}
.order-1 svg {
	margin-left: 8rem;
}
.content-detail {
	display: flex;
	justify-content: space-between;
}

.content-detail-items {
	background-image: url('/image/kamar1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 305px;
	height: 173px;
	border-radius: 18px;
	padding-left: 1rem;
	padding-right: 1rem;
	
}
.content-detail-items h3 {
	font-size: 15px;
	font-weight: 500;
	color: white;
	padding-top: 5rem;
}
.content-detail-items p {
	color: white;
	font-size: 9px;
	
}
.content-detail-items a {
	color: white;
	padding-top: 5rem;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}
.plus {
	width: 15rem;
	height: 3rem;
	border-radius: 3rem;
	margin-top: -4rem;
	
}
.schedule-title {
	font-size: 20px;
	font-weight: 500;
}
.schedule-body {
	background-color: #D1D0FB;
	width: 100%;
	height: 691px;
	border-radius: 16px;
}
.logout {
	margin-top: 23rem;
	margin-left: 2rem;
}


